@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins&family=Roboto&display=swap');

/* root styling */

:root {
    --light: #f8f9fa;
    --secondary: #adb5bd;
    --dark: #343a40;
    --primary-color: rgb(255, 0, 0);
    --secondary-color: #2ec4b6;
    --border: #999999;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

* > * {
    box-sizing: border-box;
}

/* ------- Navigation Menu ---------- */
.navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.nav-brand {
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    align-self: center;
    font-size: 32px;
}

.collapse {
    align-self: center;
}

div ul li {
    list-style: none;
}

.nav-link {
    font-size: 18px;
    margin: 12px;
    color: var(--dark);
    font-family: 'Poppins', sans-serif;
}

.nav-link:hover {
    color: var(--primary-color);
}

.search-box {
    display: inline;
    border-right: 1px solid var(--secondary);
    padding-right: 12px;
    margin-right: 10px;
}

.toggle-button {
    font-size: 21px;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    margin: 8px 10px;
    display: none;
}

.toggle-button:focus {
    outline: none;
}


/* ------- .Navigation Menu ---------- */